
.header {
    display: flex;
    justify-content: space-between; /* trái - phải */
    align-items: center;            /* căn giữa theo chiều dọc */
    padding: 20px 40px;
    background-color: #222; /* màu nền header */
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    background: #fff;
}

.logo-text {
    font-size: 18px;
    font-weight: bold;
    color: white;
}




.nav {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav li {
    margin: 0 15px;
}

.nav li a {
    position: relative;
    text-decoration: none;
    color: white;
    display: block;
}

/* phần hiệu ứng */
.nav li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background: white;

    transform: translateY(5px);   /* ban đầu ở dưới */
    opacity: 0;
    transition: all 0.3s ease;
}

/* hover: gạch chân nhích lên */
.nav li a:hover::before {
    transform: translateY(0);
    opacity: 1;
}


.banner{
    background: #222;
    padding: 70px 0;
    text-align: center;
    color: #fff;
}
.banner h1{
    font-size: 48px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.line{
    width: 350px;
    height: 4px;
    background: red;
    margin: auto;
}

.content{
    max-width: 1100px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    display: flex;
    gap: 40px;
}

.left{
    width: 35%;
    text-align: center;
}

.left img{
    width: 100%;
    border-radius: 4px;;
}
.left h3{
    margin: 10px 0 10px;
}
.left p{
    font-size: 20px;
    color: #555;
}

.right{
    width: 65%;
    margin-left: 20px;
    margin-right: 35px;
    font-size: 20px;
    line-height: 1.8;
    color: #333;
    text-align: justify; 
}

/*.content1{
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 20px 40px;
    background-color: red; 
}*/

.content1 {
    max-width: 1100px;
    max-height: 400px;
    margin: 30px auto;
    padding: 15px;
    background: red;
    text-align: center;
   
}
.content1 i {
    font-size: 15px;
    color: white;
}
/*@media (max-width: 768px) {
            .content {
                flex-direction: column;
            }

            .left, .right {
                width: 100%;
            }
}*/
